*.out
*.ex
*.log

**/build/**
docs/**

# CMake noise
**CMakeFiles**
**CMakeCache.txt**
**Makefile**
***.cmake**
Exec/Tests/Testing/**
Testing
DartConfiguration.tcl

# Doc files
Docs/*
!Docs/.nojekyll
!Docs/Sphinx
!Docs/doxyfile.conf
!Docs/README.md
Docs/Sphinx/build/*

# AMReX-based example files
Exec/Examples/AMReX_*/plt*
Exec/Examples/AMReX_*/tmp*