*.out
*.ex

**/build/**
docs/**

# CMake noise
**CMakeFiles**
**CMakeCache.txt**
**Makefile**
***.cmake**
Testing/*

# Doc files
Docs/*
!Docs/.nojekyll
!Docs/Sphinx
!Docs/doxyfile
!Docs/README.md
Docs/Sphinx/build/*
